# ==============================
# Dependencies
# ==============================
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# ==============================
# Build Outputs
# ==============================
/build
/.next/
/out/
android/app/build
android/build
ios/build

# Expo / RN Native Build Cache
android/.cxx
android/.gradle
ios/Pods
ios/DerivedData

# ==============================
# Testing
# ==============================
/coverage

# ==============================
# Environment Files
# ==============================
.env*
!.env.example   # optional if you want example file committed

# ==============================
# Firebase / Secret Keys 🔐
# ==============================
/utils/dikhshant-e3b6b-firebase-adminsdk-fbsvc-4ce56756cf.json

# ==============================
# Logs
# ==============================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# ==============================
# macOS
# ==============================
.DS_Store

# ==============================
# Vercel
# ==============================
.vercel

# ==============================
# TypeScript
# ==============================
*.tsbuildinfo
next-env.d.ts